<link rel="stylesheet" href="admin-anasayfa.component.css">
<ul>
<li><a href="admin/anasayfa">Ana Sayfa</a></li>
<li><a href="admin/ogrenciler" >Öğrenciler</a></li>
<li><a href="admin/dersler">Dersler</a></li>
<li><a href="admin/soruhazirla">Sorular</a></li>
</ul>
<p>&nbsp;</p><p>&nbsp;</p>
<h1 style="color: rgb(4, 146, 18); position: absolute; left: 40%; top: 50%; margin-left: -40px; margin-top: -50px;">Yusuf Cihan, Hoşgeldiniz... </h1>
<h2 style="color: rgb(7, 46, 245); position: absolute; left: 37%; top: 60%; margin-left: -37px; margin-top: -60px;">Admin Girişi Başarıyla Gerçekleştirilmiştir. </h2>

<h2 style="color: rgb(164, 22, 36); position: absolute; left: 34%; top: 70%; margin-left: -34px; margin-top: -70px;">
Verileri dilediğiniz gibi inceleyip, kolayca değiştirebilirsiniz. </h2>

<h1 style="color: rgb(164, 22, 36); position: absolute; left: 1%; top: 27%; margin-left: -1px; margin-top: -27px;">ONLİNE - X / ADMİN GİRİŞİ ALGILANDI</h1>

