<div class="continer bg-light col-md-12">
  <h1 class="display-5 fw-bold">Online Sınav Başlatma Ekranı</h1>
  <p>&nbsp;</p>
  <h4>Sınav Bilgisi:</h4>
  <p class="col-md-8 fs-4">Bu sınavda 20 soru bulunmaktadır. Her bir soru 5 puandır. Başarılar Dilerim...</p>
  <br>

  <h4>Sınav Detayları:</h4>
  <ol>
    <li>Her bir soruyu doğru cevapladığınızda 5 puan alırsınız.</li>
    <li>Yanlış cevaplar için puanlarınız düşmez.</li>
    <li style="color: red;">Sınavınızı Henüz Bitirmeden Çıkış Butonuna Tıklarsanız Sınavınız Geçersiz Sayılır.</li>
    <li>Bol Şans !</li>
  </ol>
  <div class="name col-md-4 my-3">
    <label >Üye İsmi :</label>&nbsp;&nbsp;
    <input #name type="text" class="form-control">
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <button class="btn btn-danger btn-lg" routerLink="/uye/sorular"  >Sınavı Başlat</button>
</div>
