button {
    display: block;
    background-color:#30c108;
    color:#ffffff;
    height:40px;
    width: 120px;
    text-align: center;
    line-height:30px;
    text-decoration:wavy;
    transition:all .3s ease-in;
    }
button:hover{
    color:#ffffff;
    background-color:#0b8702fd;
    padding: 5px;
    margin: 10px;
    }